.BadgeItem__container{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgeItem_item-icon{
  height: 80px;
  border-radius: 50%;
  margin: 10px
}

.BadgeItem_item-text{
  height: 80px;
  margin: 10px
}

.BadgeItem_item-text>.name{

}

.BadgeItem_item-text>.twitter{
  color: blue
}

.BadgeItem_item-text>.jobTitle{
  
}